*/__pycache__/
*.pyc
/assets/*.py
/assets/*.mp4
/data
/results
/assets
/comparison_results
/config
/source_images
/exp
/*.png
/lact_nvs_exp
/syncmvd_exp_glb
/syncmvd_seg_exp
/1b41e3e63867499cada873215bf255e
/*.zip
